<section class="events">
    <div class="section-padding">
        <div class="container">
            <div class="top-content">
                <div class="left-content float-left">
                    <h2 class="section-title">Events</h2>
                    <p>Donec rutrum congue leo eget malesuada</p>
                </div><!-- /.left-content -->
                <div class="right-content float-right"><a href="#" class="btn">View all</a></div><!-- /.right-content -->
            </div><!-- /.top-content -->

            <div class="row">
                <div class="col-md-6">
                    <div class="event media">
                        <div class="event-time">
                            <time datetime="2017-07-28"><span class="date">28</span> July</time>
                        </div>
                        <div class="event-details media-body">
                            <div class="event-thumb radius"><img src="assets/images/event/1.jpg" alt="Event Thumbnail"></div><!-- /.enent-thumb -->
                            <h2 class="event-title"><a href="event-details.html">Expand Your Programming Knowledge</a></h2><!-- /.event-title -->
                            <div class="event-meta">
                                <span class="time"><i class="icon-clock"></i> 4am - 8pm</span><!-- /.time -->
                                <span class="place"><i class="icon-location-pin"></i> New York, USA</span><!-- /.place -->
                            </div><!-- /.event-meta -->
                            <p>
                                One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.
                            </p>
                        </div><!-- /.event-details -->
                    </div><!-- /.event -->
                </div>
                <div class="col-md-6">
                    <div class="event media">
                        <div class="event-time">
                            <time datetime="2017-07-28"><span class="date">28</span> July</time>
                        </div>
                        <div class="event-details media-body">
                            <div class="event-thumb radius"><img src="assets/images/event/2.jpg" alt="Event Thumbnail"></div><!-- /.enent-thumb -->
                            <h2 class="event-title"><a href="event-details.html">Land an Exciting New Tech Job</a></h2><!-- /.event-title -->
                            <div class="event-meta">
                                <span class="time"><i class="icon-clock"></i> 4am - 8pm</span><!-- /.time -->
                                <span class="place"><i class="icon-location-pin"></i> New York, USA</span><!-- /.place -->
                            </div><!-- /.event-meta -->
                            <p>
                                He lay on his armour back and lifted his head a little that he could see his brown belly, slightly domed and divided by into sections. 
                            </p>
                        </div><!-- /.event-details -->
                    </div><!-- /.event -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-padding -->
</section>