<section class="testimonial text-center">
    <div class="section-padding">
        <div class="container">
            <div id="testimonial-slider" class="testimonial-slider carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#testimonial-slider" data-slide-to="0" class=""></li>
                    <li data-target="#testimonial-slider" data-slide-to="1" class="active"></li>
                    <li data-target="#testimonial-slider" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="media">
                            <img class="rounded-circle mr-3" src="assets/images/avatar/5.png" alt="Avatar Image">
                            <div class="media-body">
                                <h4 class="name"><a href="#">Julia Warren</a></h4>
                                <span class="designation">Student</span>
                            </div>
                        </div><!-- /.top-content -->

                        <div class="bottom-content">
                            <span class="title">Awesome Learning Site</span>
                            <p>
                                The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked.
                            </p>
                        </div><!-- /.bottom-content -->
                    </div>

                    <div class="carousel-item active">
                        <div class="media">
                            <img class="rounded-circle mr-3" src="assets/images/avatar/6.png" alt="Avatar Image">
                            <div class="media-body">
                                <h4 class="name"><a href="#">Arthur Watson</a></h4>
                                <span class="designation">Photographer</span>
                            </div>
                        </div><!-- /.top-content -->

                        <div class="bottom-content">
                            <span class="title">Awesome Learning Site</span>
                            <p>
                                What’s happened to me?” he thought. It wasn’t a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.
                            </p>
                        </div><!-- /.bottom-content -->
                    </div>

                    <div class="carousel-item">
                        <div class="media">
                            <img class="rounded-circle mr-3" src="assets/images/avatar/7.png" alt="Avatar Image">
                            <div class="media-body">
                                <h4 class="name"><a href="#">Janet Alvarado</a></h4>
                                <span class="designation">Student</span>
                            </div>
                        </div><!-- /.top-content -->

                        <div class="bottom-content">
                            <span class="title">Awesome Learning Site</span>
                            <p>
                                A collection of textile samples lay spread out on the table. Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. 
                            </p>
                        </div><!-- /.bottom-content -->
                    </div>
                </div>

                <a class="carousel-control-prev" href="#testimonial-slider" role="button" data-slide="prev"> 
                    <i class="icons icon-arrow-left"></i>
                </a>
                <a class="carousel-control-next" href="#testimonial-slider" role="button" data-slide="next">
                    <i class="icons icon-arrow-right"></i>
                </a>
            </div>
        </div><!-- /.container -->
    </div><!-- /.section-padding -->
</section>