<section class="banner-section banner-01 background-bg" data-image-src="assets/images/banner/1.jpg" style="background-image: url(&quot;assets/images/banner/1.jpg&quot;);">
    <div class="overlay">
        <div class="section-padding">
            <div class="container">
                <div class="banner-texts text-center">
                    <h6 class="sub-title mb-2">Take the World’s Best Courses</h6>
                    <h2 class="banner-title mb-5">Learn With Us</h2>

                    <a href="#" class="btn btn-lg mt-2 banner-btn">Get started</a>
                </div><!-- /.banner-texts -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </div><!-- /.overlay -->
</section>