<section class="facts background-bg" data-image-src="assets/images/bg2.jpg" style="background-image: url(&quot;assets/images/bg2.jpg&quot;);">
    <div class="overlay">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="item media">
                            <div class="item-icon mr-3"><i class="icons icon-book-open"></i></div><!-- /.item-icon -->
                            <div class="item-details">
                                <span class="count">765</span><!-- /.count -->
                                <h3 class="item-title">Courses Published</h3><!-- /.item-title -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item media">
                            <div class="item-icon mr-3"><i class="icons icon-eyeglass"></i></div><!-- /.item-icon -->
                            <div class="item-details">
                                <span class="count">249</span><!-- /.count -->
                                <h3 class="item-title">Expert Instructors</h3><!-- /.item-title -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item media">
                            <div class="item-icon mr-3"><i class="icons icon-people"></i></div><!-- /.item-icon -->
                            <div class="item-details">
                                <span class="count">8348</span><!-- /.count -->
                                <h3 class="item-title">Happy Learners</h3><!-- /.item-title -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="item media">
                            <div class="item-icon mr-3"><i class="icons icon-trophy"></i></div><!-- /.item-icon -->
                            <div class="item-details">
                                <span class="count">99</span><!-- /.count -->
                                <h3 class="item-title">Awards Achieved</h3><!-- /.item-title -->
                            </div><!-- /.item-details -->
                        </div><!-- /.item -->
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.section-padding -->
    </div><!-- /.overlay -->
</section>