<section class="recent-posts black-bg">
    <div class="section-padding">
        <div class="container">
            <div class="top-content">
                <div class="left-content float-left">
                    <h2 class="section-title">Recent Blog Posts</h2>
                    <p>Donec rutrum congue leo eget malesuada</p>
                </div><!-- /.left-content -->
                <div class="owl-controls float-right disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><!-- /.owl-controls -->
            </div><!-- /.top-content -->

            <div id="post-slider" class="post-slider owl-carousel owl-loaded owl-drag">
                
                
                
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2000px, 0px, 0px); transition: all 0.25s ease 0s; width: 3600px;"><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/1.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">WordPress Theme Development Resources</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/2.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">ow To Create A Local Business Directory Site In WordPress</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/3.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">How To Tell If A Site Is WordPress Or Not</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/1.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">WordPress Theme Development Resources</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/2.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">ow To Create A Local Business Directory Site In WordPress</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item active" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/3.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">How To Tell If A Site Is WordPress Or Not</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item cloned active" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/1.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">WordPress Theme Development Resources</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item cloned active" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/2.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">ow To Create A Local Business Directory Site In WordPress</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div><div class="owl-item cloned" style="width: 370px; margin-right: 30px;"><div class="item">
                    <article class="post">
                        <div class="entry-thumbnail radius"><img src="assets/images/posts/3.jpg" alt="Post Thumbnail"></div><!-- /.entry-thumbnail -->
                        <div class="entry-content">
                            <h3 class="entry-title"><a href="single.html">How To Tell If A Site Is WordPress Or Not</a></h3><!-- /.entry-title -->
                            <div class="entry-meta">
                                <span class="author"><i class="icon-user"></i> <a href="#">Anthony Doe</a></span><!-- /.author -->
                                <span class="time"><i class="icon-calendar"></i> 26/05/2018</span><!-- /.time -->
                            </div><!-- /.entry-meta -->
                        </div><!-- /.entry-content -->
                    </article><!-- /.post -->
                </div></div></div></div><div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div></div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-padding -->
</section>