<section class="subscribe text-center gray-bg">
    <div class="section-padding">
        <div class="container">
            <h4 class="title">Subscribe Weekly Newsletter</h4>

            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-1971 bm8 " method="post" data-id="1971" data-name="Mail Form">
                <input class="subscribe-email" type="email" id="subscribe-email" name="EMAIL" placeholder="Enter Email Address Here" required="">
                <input class="subscribe-submit" type="submit" id="subscribe-submit" name="submit" value="Subscribe now">
            </form>
        </div><!-- /.container -->
    </div><!-- /.section-padding -->
</section>